button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.hola.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    outline: none;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeMedium.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    outline: none;
}

/* .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.css-13i4rnv-MuiGrid-root {
    margin-top: -100%;
} */